<div class="about">
    <div class="container about__conatiner">
        <div class="about__Info__Image" data-aos="fade-right" data-aos-duraction="2000" data-aos-delay="200">
            <img src="img/about.jpg" alt="Imagem de Mulher exercitando">
        </div>

        <div class="about__Info__Text">
            <h2 class="tittle__Section" data-aos="fade-left" data-aos-duraction="750" data-aos-delay="250">Get Ready To Reach Your Fitness Goals</h2>
            <p class="text__Section" data-aos="fade-left" data-aos-duraction="750" data-aos-delay="500">At FITNESXIA, we are committed to helping you achieve your fitness goals with expert guidance,
                personalized workouts, and a motivating environment. Whether you aim to build strength, improve
                endurance, or stay active, we provide the right support and training to keep you on track.</p>

            <p class="text__Section" data-aos="fade-left" data-aos-duraction="750" data-aos-delay="750">Start your journey today and transform your health with the perfect exercise routine!</p>

            <button type="button" class="btn" data-aos="fade-left" data-aos-duraction="750" data-aos-delay="1000">Free Trail Today</button>
        </div>
    </div>
</div>