<div class="footer">
    <div class="container footer__container">

        <div class="footer__Top">
            <div class="footer_Links">
                <h4>Company</h4>

                <a href="#">About US</a>
                <a href="#">Why US</a>
                <a href="#">Security</a>
                <a href="#">Partnership</a>
            </div>
            <div class="footer_Links">
                <h4>Categories</h4>

                <a href="#">Basic Yoga</a>
                <a href="#">Strength Training</a>
                <a href="#">Body Building</a>
                <a href="#">Weight Loss</a>
            </div>
            <div class="footer_Links contact__Us">
                <h4>Contact Us</h4>
                
                <p class="text__Section">
                    <img src="icon/phone-fill.svg" alt="">
                    +244 929 720 066
                </p>
                <p class="text__Section">
                    <img src="icon/mail-fill.svg" alt="">
                    fitnesxia&#64;gmail.com
                </p>
                <p class="text__Section">
                    <img src="icon/map-pin-2-fill.svg" alt="">
                    314 - KK - Luanda/Angola
                </p>
            </div>
             <div class="footer_Links NewsLatter">
                <h4>Subscribe Our Newsletter</h4>
                <div>
                    <input type="email" placeholder="Enter your email">
                    <button type="submit">
                        <img src="icon/send-plane-fill.svg" alt="">
                    </button>
                </div>

                <p class="text__Section">Never miss an update & news to your email</p>
            </div>
        </div>

        <div class="footer__bottom">
            <img src="img/logo.png" alt="">

            <p class="text__Section">Copyright © 2025 Web Design Mastery. All rights reserved.</p>

            <div class="list__Social">
                <a href="#">
                    <img src="icon/facebook-fill.svg" alt="">
                </a>
                <a href="#">
                    <img src="icon/instagram-line.svg" alt="">
                </a>
                <a href="#">
                    <img src="icon/twitter-fill.svg" alt="">
                </a>
                <a href="#">
                    <img src="icon/linkedin-fill.svg" alt="">
                </a>
            </div>
        </div>
        
    </div>
</div>