<header class="header">
    <div class="container header__container">
        <div class="logo__header">
            <img src="img/logo.png" alt="Logotipo Fitness">
        </div>
        <ul class="list__header">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About US</a>
            </li>
            <li>
                <a href="">Programs</a>
            </li>
            <li>
                <a href="">Testimonials</a>
            </li>

            <button type="button" class="btn">Sign Up</button>
        </ul>
        <div class="menu__header">
            <button type="button">
                <i class="pi pi-bars"></i>
            </button>
            <button type="button">
                <i class="pi pi-times"></i>
            </button>
        </div>
    </div>
</header>