<div class="service">
    <div class="container service__container">
        <div class="service__Info__Text">
            <h1 class="tittle__Section" data-aos="fade-down" data-aos-duraction="1000">Why Should People Choose Fitnesxia Services</h1>

            <ul class="service__List">
                <li class="text__Section" data-aos="fade-down" data-aos-duraction="1000" data-aos-delay="200">
                    <span class="Service_tittle">
                        <img src="icon/check.svg" alt="">
                        <h3>Personal Training</h3>
                    </span>
                    Get customized workout plans tailored to your fitness goals with one-on-one guidance from our professional trainers.
                </li>
                <li class="text__Section" data-aos="fade-down" data-aos-duraction="1000" data-aos-delay="300">
                    <span class="Service_tittle">
                        <img src="icon/check.svg" alt="">
                        <h3>Expert Trainer</h3>
                    </span>
                   Train with highly qualified and experienced fitness experts who will motivate and support you every step of the way.
                </li>
                <li class="text__Section" data-aos="fade-down" data-aos-duraction="1000" data-aos-delay="400">
                    <span class="Service_tittle">
                        <img src="icon/check.svg" alt="">
                        <h3>Flexible Timing</h3>
                    </span>
                    Enjoy the convenience of workout sessions that fit your schedule, making it easier to stay committed to your fitness journey.
                </li>
            </ul>

            <button type="button" class="btn" data-aos="fade-down" data-aos-delay="500" data-aos-duraction="1000">Enjoy Today</button>
        </div>

        <div class="service__Info__Image" data-aos="zoom-in" data-aos-delay="350" data-aos-duraction="1000">
            <img src="img/service.png" alt="">
        </div>
    </div>
</div>
