<div class="banner">
    <div class="container banner__container">
        <div class="banner__Info__Text">
            <h1>GET HEALTHY BODY WITH THE PERFECT EXERCISES</h1>
            <p>Achieve your dream body with expertly designed exercises tailored for strength, endurance, and overall
                well-being. Whether you're a beginner or a fitness enthusiast, our workouts are crafted to help you stay
                active, build muscle, and improve flexibility.</p>
            <button type="button" class="btn">Get Started</button>

            <div class="banner__stats">
                <article>
                    <h4>105+</h4>
                    <span>Expert Trainers</span>
                </article>
                <article>
                    <h4>970+</h4>
                    <span>Member Joined</span>
                </article>
                <article>
                    <h4>135+</h4>
                    <span>Fitness Programs</span>
                </article>
            </div>
        </div>

        <div class="banner__Info__Image">
            <img src="img/header.png" alt="Imagem de Homem e Mulher Lado a Lado">
        </div>
    </div>
</div>