/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "primeicons/primeicons.css";

:root {
  --primary-color: #ff242e;
  --secondary-color: #ff552d;
  --base-color: #201c24;
  --background-color-1: #323b3f;
  --background-color-2: #37383c;
  --background-color-3: #464646;
  --extra-light: #dfdfdf;
  --white: #ffffff;
  --max-width: 1200px;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/Poppins.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  transition: .45s linear;
}

.container {
  max-width: var(--max-width);
  margin: auto;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

input {
  outline: none;
}

li {
  list-style: none;
}

.btn {
  padding: .7rem 1.35rem;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1.05rem;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .4s linear, transform .4s linear;

  &:hover {
    background-color: var(--secondary-color);
    transform: scale(.98);
  }
}

.tittle__Section {
  color: var(--extra-light);
  font-weight: 700;
  font-size: 2.60rem;
}

.text__Section {
  color: var(--extra-light);
  line-height: 1.75rem;
  font-size: 1.05rem;
}

/*  HEADER SECTION */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  position: relative;
  z-index: 111111;
}

.header__container .logo__header {
  display: block;

  img {
    width: 185px;
  }
}

.header__container .list__header {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;

  li {
    display: block;

    a {
      color: var(--extra-light);
      font-weight: 600;
      font-size: 1rem;
      padding: .25rem;

      &:hover {
        color: var(--white);
      }
    }
  }

  button {
    margin-left: 1.5rem;
  }
}

.header__container .menu__header {
  display: none;
}

.header__container .menu__header button {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

/* BANNER SECTION */
.banner__container {
  padding: 3rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__container .banner__Info__Text {
  width: 45%;
  display: block;

  h1 {
    color: var(--white);
    font-size: 3rem;
    line-height: 3.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  p {
    color: var(--extra-light);
    line-height: 1.75rem;
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: 2rem;
    width: 100%;
    text-align-last: left;
  }

  .banner__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin-top: 2.5rem;

    article {
      display: block;

      h4 {
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: .25rem;
      }

      span {
        color: var(--white);
        font-size: .9rem;
        font-weight: 500;
      }
    }
  }
}

.banner__Info__Image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;

  img {
    max-width: 500px;
    object-fit: cover;
    transform: translateY(32px);
  }
}

/* ABOUT SECTION */
.about__conatiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}

.about__Info__Image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;

  img {
    width: 500px;
    border-radius: 1rem;
    margin-inline: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  }
}

.about__Info__Text {
  width: 48%;
  display: block;

  h2 {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1.5rem;
  }
}

/* PROGRAMS SECTION */
.programs__container {
  display: block;
  padding: 5rem 0;
}

.programs__Info_Text {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 4rem;

  h2 {
    width: 45%;
  }

  p {
    width: 43%;
  }
}

.programs__Info__Cards {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 2rem;

  .Programs__card {
    display: block;
    padding: 1.5rem 1.5rem .5rem;
    background-color: var(--background-color-3);
    border-radius: 1rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

    img {
      display: block;
      width: 85px;
      margin-bottom: 1rem;
    }

    h5 {
      color: var(--white);
      font-size: 1.35rem;
      font-weight: 600;
      line-height: 2rem;
      margin-bottom: .75rem;
    }

    p {
      color: var(--extra-light);
      font-size: 1.05rem;
      font-weight: normal;
      line-height: 1.75rem;
      margin-bottom: 1rem;
    }

    button {
      cursor: pointer;
      color: var(--white);
      display: flex;
      align-items: start;
      justify-content: center;
      column-gap: .5rem;
      font-size: 1rem;
      font-weight: 500;

      img {
        width: 20px;
        margin-inline: auto;
      }

      &:hover {
        img {
          transform: translateX(4px);
        }
      }
    }

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}

/* SERVICES SECTION */
.service__container {
  display: flex;
  padding: 5rem 0 1.25rem 0;
  justify-content: space-between;
  align-items: center;
}

.service__Info__Text {
  display: block;
  width: 50%;

  h1 {
    width: 100%;
    margin-bottom: 2rem;
  }

  .service__List {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 2.5rem;

    .Service_tittle {
      display: flex;
      column-gap: 1rem;
      align-items: center;
      margin-bottom: .5rem;

      img {
        width: 20px;
      }

      h3 {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }
}

.service__Info__Image {
  width: 45%;
  display: flex;
  align-items: end;

  img {
    width: 430px;
    transform: translateY(19.8px);
  }
}

/*  FOOTER SECTION  */
.footer__container {
  display: block;

  .footer__Top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5rem 0 3rem 0;

    .footer_Links {
      display: flex;
      align-items: start;
      flex-direction: column;
      row-gap: .65rem;

      h4 {
        color: var(--extra-light);
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: .75rem;
      }

      a {
        color: var(--white);
        font-size: 1.05rem;

        &:hover {
          color: var(--white);
        }
      }

      p {
        display: flex;
        align-items: start;
        column-gap: .5rem;
        margin-bottom: .5rem;

        img {
          width: 22px;
        }
      }
    }

    .NewsLatter {
      div {
        background-color: var(--white);
        padding: .35rem .5rem .5rem .75rem;
        border-radius: 44px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: .5rem;

        input {
          background-color: transparent;
          border: none;
          font-size: 1rem;
          color: var(--base-color);
        }

        button {
          background-color: var(--primary-color);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;

          img {
            width: 30px;
          }
        }
      }
    }
  }

  .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--extra-light);
    padding: 2.5rem 0;

    img {
      width: 180px;
    }

    .list__Social {
      display: flex;
      align-items: start;
      column-gap: 1rem;

      a {
        background-color: var(--extra-light);
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 20px;
        }
      }
    }
  }
}

/*  CHANGE BACKGROUNDS SECTIONS  */
.header {
  background-color: var(--base-color);
}

.banner {
  background-color: var(--base-color);
}

.about {
  background-color: var(--background-color-1);
}

.programs {
  background-color: var(--background-color-2);
}

.service {
  background-color: var(--background-color-1);
}

.footer {
  background-color: var(--base-color);
}

/*  RESPONSIVIDADE  */
@media (width < 992px) {
  .header__container .menu__header {
    display: flex;
  }

  .header__container .list__header {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100vh;
    background-color: var(--base-color);
    padding: 3rem 3.75rem;
    position: absolute;
    top: -200rem;
    left: 0;
    z-index: 11;
    transition: top 1s ease-in-out;

    button {
      margin-left: 0;
    }
  }

  .header__container .list__header.show {
    top: 4rem;
  }

  .container {
    padding: 1.75rem 3.75rem;
  }

  .banner__container {
    padding: 2.5rem 3.75rem;
  }

  .banner__container .banner__Info__Text {

    h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    p {
      font-size: 1rem;
    }

    .banner__stats {
      width: 100%;

      article {
        width: 100%;

        h4 {
          font-size: 1.35rem;
          line-height: 1.5rem;
        }
      }
    }
  }

  .banner__Info__Image {

    img {
      max-width: 430px;
      transform: translateY(40px);
    }
  }

  .about__conatiner {
    flex-direction: column-reverse;
    row-gap: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .about__Info__Image {
    width: 100%;

    img {
      width: 500px;
    }
  }

  .about__Info__Text {
    width: 100%;
    text-align: center;

    h2 {
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }

  .tittle__Section {
    font-size: 2rem;
  }

  .text__Section {
    line-height: 1.60rem;
    font-size: 1rem;
  }

  .programs__Info_Text {

    p {
      width: 45%;
    }
  }

  .programs__Info__Cards {
    display: flex;
    flex-wrap: wrap;

    .Programs__card {
      flex: 1 300px;

      h5 {
        font-size: 1.25rem;
        margin-bottom: .45rem;
      }
    }
  }

  .service__Info__Image {

    img {
      width: 350px;
      transform: translateY(calc(13px + 1rem));
    }
  }

  .footer__container .footer__Top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 3.5rem;
  }

  .footer__container .footer__Top .footer_Links {
    flex: 1 280px;
  }

  .footer__container .footer__bottom {
    flex-direction: column;
    row-gap: 1rem;
  }

}

@media (width < 876px) {
  .banner__Info__Image {
    display: none;
  }

  .banner__container .banner__Info__Text {
    width: 100%;
    text-align: center;

    p {
      width: 100%;
      text-align: center;
    }
  }

  .about__Info__Image {
    width: 100%;

    img {
      width: 380px;
      object-fit: contain;
    }
  }
}

@media (width < 768px) {
  .programs__Info_Text {
    flex-direction: column;

    h2 {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    p {
      width: 85%;
      text-align: left;
    }
  }

  .service__Info__Text {
    display: block;
    width: 100%;
  }

  .service__Info__Image {
    display: none;
  }

  .tittle__Section {
    text-align: center;
  }
}

@media (width < 576px) {
  .header__container .logo__header {

    img {
      width: 120px;
    }
  }

  .container {
    padding: 1.75rem 2.75rem;
  }

  .about__Info__Image {

    img {
      width: 300px;
    }
  }

  .programs__Info_Text {

    p {
      width: 100%;
      text-align: center;
    }
  }

  .footer__container{
    text-align: center;
  }
}